<!DOCTYPE html>
<html lang="en">
<head>
    <title>Charles Crame</title>
    <script src="app.bundle.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./assets/style.css">
</head>



<body class="header" ng-app="main">
    <header ng-controller="mainController">
        <div class="contact-info"> 
            <div class="site-title" ng-click="redirect('home',0)">Charles</div>
            <div class="contact-container" ng-class="{visible:visible}">
                <span class="button" ng-click="toggleVisibility()">Contact</span>
                <a href="https://linkedin.com/in/ccrame"><i class="fa fa-linkedin fa-2x"></i></a> 
                <a href="https://twitter.com/cpcrame"><i class="fa fa-twitter fa-2x"></i></a>
                <a href="https://github.com/ccrame"><i class="fa fa-github fa-2x"></i></a>
            </div>
        </div>
        <nav class="nav-bar">
            <div ng-class="{selected: selected[0]}" ng-click="redirect('home',0)">Home<div class="nav-hover"></div></div><!--
         --><div ng-class="{selected: selected[1]}" ng-click="redirect('blog',1)">Blog<div class="nav-hover"></div></div><!--
         --><div ng-class="{selected: selected[2]}" ng-click="redirect('projects',2)">Projects<div class="nav-hover"></div></div><!--
         --><div ng-class="{selected: selected[3]}" ng-click="redirect('about',3)">About<div class="nav-hover"></div></div>
        </nav>
        <div class="header-background">
            <img src="./assets/space-view2.jpg" alt="space" ng-class="{home:selected[0],blog:selected[1],projects:selected[2],about:selected[3]}">
        </div>
    </header>
    <div ui-view class="container"></div>
</body>
</html>