<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="A blog about everything">
    <link rel="icon" href="client/assets/logo.png">
    <title>Charles Crame</title>

    <script type="text/javascript" src="client/app/auth0/auth0-variables.js"></script>
    <script type="text/javascript" src="client/app.bundle.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="client/assets/style.css">

    <!-- Auth0 -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-cookies.js"></script>
    <script type="text/javascript" src="client/lib/lock-7.5.min.js"></script>
    <script type="text/javascript" src="https://cdn.auth0.com/w2/auth0-angular-4.js"></script>
</head>

<body ng-app="main" ng-controller="mainController">

    <!-- Navigation bar for mobile only (width<=700px)-->
    <nav ng-click="toggle('nav')" ng-class="{'show':show.nav}" class="nav-mobile-menu mobile-only">
        <div class="nav-mobile-item" ng-class="{selected: selected[0]}" ng-click="redirect('home',0)">     Home     </div><!--
     --><div class="nav-mobile-item" ng-class="{selected: selected[1]}" ng-click="redirect('blog',1)">     Blog     </div><!--
     --><div class="nav-mobile-item" ng-class="{selected: selected[2]}" ng-click="redirect('projects',2)"> Projects </div><!--
     --><div class="nav-mobile-item" ng-class="{selected: selected[3]}" ng-click="redirect('about',3)">    About    </div><!--
     --><div ng-if="userProfile" class="nav-mobile-item" ng-click="signOut()">Sign Out</div><!--
     --><div ng-if="!userProfile" class="nav-mobile-item" ng-click="signIn()">Sign In</div>
    </nav>

    <header>
        <!-- Navigation bar for desktop (width >= 701px) -->
        <nav class="nav-bar">
            <nav ng-click="toggle('nav')" class="hamburger fa fa-bars fa-2x mobile-only"></nav>
            <div class="site-logo" ng-click="redirect('home',0)"><img src="client/assets/logo.png" alt="home"><div class="site-title pointer">Charles Crame</div></div>
            <div class="nav-item desktop-only" ng-class="{selected: selected[0]}" ng-click="redirect('home',0)">     Home     <div class="nav-hover"></div></div><!--
         --><div class="nav-item desktop-only" ng-class="{selected: selected[1]}" ng-click="redirect('blog',1)">     Blog     <div class="nav-hover"></div></div><!--
         --><div class="nav-item desktop-only" ng-class="{selected: selected[2]}" ng-click="redirect('projects',2)"> Projects <div class="nav-hover"></div></div><!--
         --><div class="nav-item desktop-only" ng-class="{selected: selected[3]}" ng-click="redirect('about',3)">    About    <div class="nav-hover"></div></div>

            <!-- Toggle User Profile Menu -->
            <div class="user-profile-toggle pointer highlight desktop-only block" ng-class="{visible: show.userProfile}">
                <div ng-if="!userProfile" ng-click="signIn()">Sign In</div>
                <div ng-if="userProfile" class="profile-picture" ng-click="toggle('userProfile')"><img ng-src={{userProfile.picture}} alt="user"><span>{{userProfile.name}}</span></div>
            </div>

            <!-- Contact panel -->

            <div class="contact-container-close-tab desktop-only" ng-class="{visible:show.contact}" ng-click="toggle('contact')">
                <i class="fa fa-times fa-2x highlight white pointer"></i>
            </div>

            <div class="contact-container desktop-only" ng-class="{visible:show.contact}">

                <div class="contact-item highlight">
                    <div class="contact-icon">
                        <a href="https://linkedin.com/in/ccrame"><i class="fa fa-linkedin fa-2x"></i></a>
                    </div>
                    <span>LinkedIn</span> 
                </div>

                <div class="contact-item highlight">
                    <div class="contact-icon">
                        <a href="https://twitter.com/cpcrame"><i class="fa fa-twitter fa-2x"></i></a>
                    </div>
                    <span>Twitter</span>
                </div>

                <div class="contact-item highlight">
                    <div class="contact-icon">
                        <a href="https://github.com/ccrame"><i class="fa fa-github fa-2x"></i></a>
                    </div>
                    <span>GitHub</span>
                </div>

                <div class="contact-item highlight">
                    <div class="contact-icon">
                        <a href="mailto:ccrame@gmail.com?subject=Contact via charlescrame.io"><i class="fa fa-envelope fa-2x"></i></a>
                    </div>
                    <span>Email</span>
                </div>

                <div class="contact-item highlight">
                    <div class="contact-icon">
                        <a href="https://docs.google.com/document/d/12zCKqnzvXm1TGnMHWSeVE18qWkhcF9oEDf2v_J_5f50/edit?usp=sharing"><i class="fa fa-file-text fa-2x"></i></a>
                    </div>
                    <span>Resume</span>
                </div>
            </div>

        </nav>

        <!-- User Profile -->
        <div class="user-profile-dropdown highlight pointer" ng-class="{visible: show.userProfile}" ng-click="signOut()">Sign Out</div>
    </header>

    <!-- Close All Menus -->
    <div class="menu-overlay desktop-only" ng-class="{visible:show.overlay.length}" ng-click="closeAllMenu()"></div>


    <!-- Site Banner -->
    <div class="header-background desktop-only">
        <img src="client/assets/collage3.png" alt="space" ng-class="{home:selected[0],blog:selected[1],projects:selected[2],about:selected[3]}">
    </div>

    <section class="outer-margin">
        <div ui-view class="container"></div>
    </section>

    <footer>
        <div class="footer-padding"></div>
        <div>
            <span class="footer-content" ng-click="redirect('about',3)">&copy; 2015 Charles Crame</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span class="description pointer" ng-click="toggle('contact')">Contact</span>
        </div>
    </footer>
</body>

</html>