/* Header
------------------------------------ */
$headerBackgroundColor: transparent;
$headerFontSize: 16px;
$headerHeight: 50px;
$headerLogoHeight: 30px;
$headerSiteLogo: '../assets/logo.png';
$headerGithubLogo: '../assets/github.svg';