<section>
    <div ng-if="articleData !== null" class="article-content-container">
        <div class="article-page-title" ng-bind="articleData.title"></div>
        <div class="article-date" ng-bind="articleData.date"></div>
        <article class="article-content" ng-include="articleData.url"></article>
    </div>

    <div class="center" ng-if="articleData === null && comments !== null "><i class="fa fa-gear fa-spin fa-4x black"></i></div>

    <div class="article-comment-container" ng-if="comments !== null">
        <div class="article-comment-input">
            <form>
                <textarea id="comment-form" ng-if="0" style="resize:none;"></textarea><br>
                <input type="submit" class="article-comment-submit highlight" ng-click="postComment()" value="Post Comment">
            </form>
        </div>
        <div class="article-comment" ng-repeat="comment in comments"></div>
    </div>

    <div class="article-list-container">
        <div class="article-page-title" ng-bind="articleMessage"></div>
        <div class="article-list-content" ng-repeat="article in articles">
            <div class="article-title pointer" ng-click="redirect('article',1,{article:article.key})" ng-bind="article.title"></div>
            <div class="article-description" ng-bind="article.description"></div>
        </div>
    </div>
</section>