<section>
    <div ng-if="articleData !== null" class="article-content-container">
        <div class="article-page-title" ng-bind="articleData.title"></div>
        <div class="article-date" ng-bind="articleData.date"></div>
        <article class="article-content" ng-include="articleData.url"></article>
    </div>

    <div class="center">
        <div ng-if="!showComments && articleData !== null" class="button pointer" ng-click="loadComments()">Load Comments</div>
        <div ng-if="showComments && articleData !== null && hideComments" class="button pointer" ng-click="toggleComments()">Show Comments</div>
    </div>

    <!-- Loading animation for article comments -->
    <div ng-if="articleData !== null && showComments && loadingAnimation" class="center"><i class="fa fa-gear fa-spin fa-4x black"></i></div>


    <!-- Comment Section -->
    <div ng-if="articleData !== null && showComments && !loadingAnimation" ng-hide="hideComments" class="article-comment-container">

        <!-- User Info if logged in -->
        <div ng-if="userProfile !== null" class="center description">
            You are logged in as {{userProfile.name}} (<span class="highlight pointer" ng-click="signOut()">logout</span>)&nbsp;&nbsp;&nbsp;
            [<span class="highlight pointer" ng-click="toggleComments()">hide comments</span>]
        </div>

        <!-- Comment Submit Form -->
        <div class="article-comment-input">
            <form>
                <textarea class="comment-form" ng-model="comment.text" ng-focus="checkAuth()"></textarea><br>
                <input type="submit" class="article-comment-submit button" ng-click="postComment();" ng-disabled="comment.text.length < 3" value="Post Comment">
            </form>
        </div>

        <!-- Article comments -->
        <div class="article-comments-container">
            <div ng-repeat="comment in comments | orderBy: 'time':true" class="article-comment">

                <div class="comment-picture desktop-only">
                    <a ng-href={{comment.link}}><img ng-src={{comment.picture}} class="pointer" alt="User Image"></a><br>
                    <a ng-href={{comment.link}}><span class="comment-username highlight pointer" ng-bind="comment.name"></span></a><br>
                    <span class="description small" ng-bind="commentTime(comment.time)"></span>
                </div><!--
             --><div class="comment-picture mobile-only">
                    <a ng-href={{comment.link}}><img ng-src={{comment.picture}} class="pointer" alt="User Image"></a>
                    <a ng-href={{comment.link}}><span class="comment-username highlight pointer" ng-bind="comment.name"></span></a>&nbsp;&nbsp;&nbsp;
                    <span class="description small" ng-bind="commentTime(comment.time)"></span>
                </div><!--
             --><div class="comment-body" >
                    <p ng-bind="comment.text"></p>
                </div>

            </div>
        </div>

    </div>



    <div class="article-list-container">
        <div class="article-page-title" ng-bind="articleMessage"></div>
        <div ng-if="article.title !== articleData.title" class="article-list-content" ng-repeat="article in articles | orderBy: 'date':true">
            <div class="article-title pointer" ng-click="redirect('article',1,{article:article.key})" ng-bind="article.title"></div>
            <div class="article-description" ng-bind="article.description"></div>
        </div>
    </div>
</section>